<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <!-- Teks About -->
        <h1>About This Application</h1>
        <p>This is a simple Flask application where you can add and view users.</p>
        
        <!-- Link untuk kembali ke halaman utama -->
        <a href="{{ url_for('index') }}">Go Back</a>
    </div>
</body>
</html>
